{% extends "layouts/app.twig" %}

{% block title %}{{ __('Manage') }} {% if service.type == 'domain' %}{{ __('Domain') }} {{ config.domain }}{% endif %}{% endblock %}

{% block content %}
    <form action="/services/{{ service.id }}/update" method="post">
    {{ csrf.field | raw }}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <div class="mb-1">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="{{route('home')}}"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-8" /><rect x="10" y="12" width="4" height="4" /></svg></a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="{{route('listServices')}}">{{ __('Services') }}</a>
                    </li>
                    <li class="breadcrumb-item active">
                      {{ __('Manage') }} {% if service.type == 'domain' %}{{ __('Domain') }} {{ config.domain }}{% endif %}
                    </li>
                  </ol>
                </div>
                <h2 class="page-title">
                  {{ __('Manage') }} {% if service.type == 'domain' %}{{ __('Domain') }} {{ config.domain }}{% endif %}
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  {% if service.type == 'domain' %}
                  {% if isLocked %}
                    <a href="/services/{{ service.id }}/lock" class="btn btn-outline-red btn-icon" aria-label="{{ __('Unlock Domain') }}" title="{{ __('Unlock Domain') }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" /><path d="M9 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" /><path d="M13 11v-4a4 4 0 1 1 8 0v4" /></svg>
                    </a>
                  {% else %}
                    <a href="/services/{{ service.id }}/lock" class="btn btn-outline-success btn-icon" aria-label="{{ __('Lock Domain') }}" title="{{ __('Lock Domain') }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" /><path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" /><path d="M8 11v-4a4 4 0 1 1 8 0v4" /></svg>
                    </a>
                  {% endif %}
                  <a href="/services/{{ service.id }}/renew" class="btn btn-outline-azure d-none d-sm-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" /><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" /></svg>
                    {{ __('Renew Domain') }}
                  </a>
                  <a href="/services/{{ service.id }}/renew" class="btn btn-outline-azure d-sm-none btn-icon" aria-label="{{ __('Renew Domain') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" /><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" /></svg>
                  </a>
                  {% if not isLocked %}
                  <button class="btn btn-primary d-none d-sm-inline-block" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                    {{ __('Update Domain') }}
                  </button>
                  <button class="btn btn-primary d-sm-none btn-icon" aria-label="{{ __('Update Domain') }}" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                  </button>
                  {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
            {% include 'partials/flash.twig' %}
            {% if service.type == 'domain' %}
              <div class="card mb-3">
                <div class="card-header">
                  <h3 class="card-title">{{ __('Domain') }} {{ config.domain }}&nbsp;{{ config.status|map(status => '<span class="status status-green">' ~ status ~ '</span>')|join(' ')|raw }}</h3>
                </div>
                <div class="card-body">
                  <div class="datagrid">
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Registered On') }}</div>
                      <div class="datagrid-content">{{ service.registered_at }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Last Updated') }}</div>
                      <div class="datagrid-content">{{ service.updated_at }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Expiration Date') }}</div>
                      <div class="datagrid-content">{{ service.expires_at }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Provider') }}</div>
                      <div class="datagrid-content">{{ provider }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Registrant') }}</div>
                      <div class="datagrid-content">
                        <div class="row g-2 mb-1">
                          <div class="col">
                            <input type="text" class="form-control contact-field" name="contact_registrant" value="{{ config.contacts.registrant.registry_id }}" {% if isLocked %}readonly{% endif %}>
                          </div>
                          <div class="col-auto">
                            <a href="{{route('listContacts')}}" target="_blank" class="btn btn-2 btn-icon" aria-label="Select Contact ID" title="Select Contact ID">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-2"><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% for role in ['admin', 'tech', 'billing'] %}
                      {% set contact = attribute(config.contacts, role) %}
                      {% if contact.registry_id is defined and contact.registry_id is not null %}
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ role|capitalize }} {{ __('Contact') }}</div>
                      <div class="datagrid-content">
                        <div class="row g-2 mb-1">
                          <div class="col">
                            <input type="text" class="form-control contact-field" name="contact_{{ role }}" value="{{ contact.registry_id }}" {% if isLocked %}readonly{% endif %}>
                          </div>
                          <div class="col-auto">
                            <a href="{{route('listContacts')}}" target="_blank" class="btn btn-2 btn-icon" aria-label="Select Contact ID" title="Select Contact ID">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-2"><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                      {% endif %}
                    {% endfor %}
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Auth Info') }}</div>
                      <div class="datagrid-content">
                        <div class="input-group">
                          <input type="text" name="authInfo" class="form-control" id="authInfoInput" value="{{ config.authcode }}" readonly disabled style="filter: blur(5px); transition: filter 0.3s;" />
                          <span class="input-group-text">
                            <input class="form-check-input" type="checkbox" id="toggle-authinfo" onchange="toggleAuthinfo()" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ __('Update Authinfo') }}" />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title mb-0">{{ __('Nameservers') }}&nbsp;<button type="button" class="btn btn-sm btn-green" onclick="addNameserver()">+</button> <button type="button" class="btn btn-sm btn-danger" onclick="removeNameserver()">−</button></h5>
                      </div>
                      <div id="nameserver-container" class="datagrid">
                        {% for ns in config.nameservers %}
                          <div class="datagrid-item">
                            <div class="datagrid-title">{{ __('Nameserver') }} {{ loop.index }}</div>
                            <div class="datagrid-content">
                              <input type="text" name="ns{{ loop.index }}" class="form-control" value="{{ ns }}" {% if isLocked %}readonly{% endif %}/>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title mb-0">
                          {{ __('DNSSEC') }}
                          <span class="status {% if config.dnssec.enabled %}status-success{% else %}status-secondary{% endif %}">
                            {% if config.dnssec.enabled %}
                              {{ __('Active') }}
                            {% else %}
                              {{ __('Inactive') }}
                            {% endif %}
                          </span>
                        </h5>
                      </div>

                      {% if config.dnssec.enabled %}
                        {% set domainSecdns = config.dnssec.ds_records %}
                        {% if domainSecdns|length > 0 %}
                          <div id="dnssecTable" class="mb-3">
                            <div class="table-responsive">
                                <table class="table table-vcenter card-table table-striped">
                                <thead>
                                  <tr>
                                    {% set keyDataExists = false %}

                                    {% for row in domainSecdns %}
                                      {% if row.interface == 'keyData' %}
                                        {% set keyDataExists = true %}
                                      {% endif %}
                                    {% endfor %}
                                      <th>{{ __('Keytag') }}</th>
                                      <th>{{ __('Algorithm') }}</th>
                                      <th>{{ __('Digest Type') }}</th>
                                      <th>{{ __('Digest') }}</th>
                                    {% if keyDataExists %}
                                      <th>{{ __('Flags') }}</th>
                                      <th>{{ __('Protocol') }}</th>
                                      <th>{{ __('Keydata Algorithm') }}</th>
                                      <th>{{ __('Public Key') }}</th>
                                    {% endif %}
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for row in domainSecdns %}
                                    <tr>
                                        <td>{{ row.keytag }}</td>
                                        <td>{{ row.alg }}</td>
                                        <td>{{ row.digesttype }}</td>
                                        <td>{{ row.digest }}</td>
                                      {% if row.interface == 'keyData' %}
                                        <td>{{ row.flags }}</td>
                                        <td>{{ row.protocol }}</td>
                                        <td>{{ row.keydata_alg }}</td>
                                        <td>{{ row.pubkey }}</td>
                                      {% endif %}
                                    </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="mb-3 mt-2 form-check">
                              <input type="checkbox" class="form-check-input" id="addDnssec" name="addDnssec">
                              <label class="form-check-label" for="addDnssec">{{ __('Enable DNSSEC') }}</label>
                            </div>
                          </div>
                          <div id="dnssecData" style="display: none;">
                            <div class="row mb-3">
                              <label for="dsKeyTag" class="form-label">{{ __('DS Record') }}</label>
                              <div class="col-sm-4 col-md-4">
                                <input type="text" class="form-control mb-2" placeholder="{{ __('Key Tag') }}" name="dsKeyTag" id="dsKeyTag">
                              </div>
                              <div class="col-sm-4 col-md-4">
                                <select class="form-select mb-2" name="dsAlg">
                                  <option value="" disabled selected>{{ __('Select Algorithm') }}</option>
                                  <option value="8">RSA/SHA-256</option>
                                  <option value="13">ECDSA Curve P-256 with SHA-256</option>
                                  <option value="14">ECDSA Curve P-384 with SHA-384</option>
                                  <option value="15">Ed25519</option>
                                  <option value="16">Ed448</option>
                                </select>
                              </div>
                              <div class="col-sm-4 col-md-4">
                                <select class="form-select mb-2" name="dsDigestType">
                                  <option value="" disabled selected>{{ __('Select Digest Type') }}</option>
                                  <option value="2">SHA-256</option>
                                  <option value="4">SHA-384</option>
                                </select>
                              </div>
                              <div class="col-sm-12 col-md-12">
                                <input type="text" class="form-control mb-2" placeholder="{{ __('Digest') }}" name="dsDigest">
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      {% else %}
                        <div class="row">
                          <div class="col-md-12">
                            <div class="mb-3 mt-2 form-check">
                              <input type="checkbox" class="form-check-input" id="addDnssec" name="addDnssec">
                              <label class="form-check-label" for="addDnssec">{{ __('Enable DNSSEC') }}</label>
                            </div>
                          </div>
                          <div id="dnssecData" style="display: none;">
                            <div class="row mb-3">
                              <label for="dsKeyTag" class="form-label">{{ __('DS Record') }}</label>
                              <div class="col-sm-4 col-md-4">
                                <input type="text" class="form-control mb-2" placeholder="{{ __('Key Tag') }}" name="dsKeyTag" id="dsKeyTag">
                              </div>
                              <div class="col-sm-4 col-md-4">
                                <select class="form-select mb-2" name="dsAlg">
                                  <option value="" disabled selected>{{ __('Select Algorithm') }}</option>
                                  <option value="8">RSA/SHA-256</option>
                                  <option value="13">ECDSA Curve P-256 with SHA-256</option>
                                  <option value="14">ECDSA Curve P-384 with SHA-384</option>
                                  <option value="15">Ed25519</option>
                                  <option value="16">Ed448</option>
                                </select>
                              </div>
                              <div class="col-sm-4 col-md-4">
                                <select class="form-select mb-2" name="dsDigestType">
                                  <option value="" disabled selected>{{ __('Select Digest Type') }}</option>
                                  <option value="2">SHA-256</option>
                                  <option value="4">SHA-384</option>
                                </select>
                              </div>
                              <div class="col-sm-12 col-md-12">
                                <input type="text" class="form-control mb-2" placeholder="{{ __('Digest') }}" name="dsDigest">
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% include 'partials/footer.twig' %}
      </div>
    </form>
<script>
  const nsContainer = document.getElementById('nameserver-container');

  function getNameserverCount() {
    return nsContainer.querySelectorAll('.datagrid-item').length;
  }

  function addNameserver() {
    let count = getNameserverCount();
    if (count >= 13) return;

    const index = count + 1;
    const item = document.createElement('div');
    item.className = 'datagrid-item';
    item.innerHTML = `
      <div class="datagrid-title">Nameserver ${index}</div>
      <div class="datagrid-content">
        <input type="text" name="ns${index}" class="form-control" value="" {% if isLocked %}readonly{% endif %}/>
      </div>
    `;
    nsContainer.appendChild(item);
  }

  function removeNameserver() {
    let count = getNameserverCount();
    if (count <= 2) return;

    nsContainer.removeChild(nsContainer.lastElementChild);
  }

  function toggleAuthinfo() {
    const checkbox = document.getElementById('toggle-authinfo');
    const input = document.getElementById('authInfoInput');

    if (checkbox.checked) {
      input.removeAttribute('readonly');
      input.removeAttribute('disabled');
      input.style.filter = 'none';
    } else {
      input.setAttribute('readonly', true);
      input.setAttribute('disabled', true);
      input.style.filter = 'blur(5px)';
    }
  }
  
  // Display DNSSEC data when the checkbox is ticked
  document.getElementById('addDnssec').addEventListener('change', function() {
      const dnssecData = document.getElementById('dnssecData');
      if (this.checked) {
          dnssecData.style.display = 'block';
      } else {
          dnssecData.style.display = 'none';
      }
  });
</script>
{% endblock %}