{% extends "layouts/app.twig" %}

{% block title %}{{ __('Payment Unsuccessful') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  {{ __('Overview') }}
                </div>
                <h2 class="page-title">
                  {{ __('Payment Unsuccessful') }}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
              <div class="card bg-orange">
                <div class="card-body">
                  <p class="text-white">
                    {{ __("We\'ve noticed that your " ~ type ~ " payment process was not completed. It appears that the payment was either cancelled or failed during the transaction.") }}
                    {{ __("If this was an error, or if you have any questions, please don\'t hesitate to contact us.") }}
                  </p>
                  <p class="text-white">
                    {{ __("Ready to try again?") }}
                    {{ __("Simply return to the") }}
                    <a href="{{ route(redirectRoute) }}" class="text-white text-decoration-underline">{{ __(name|capitalize ~ " Page") }}</a>
                    {{ __("to initiate a new payment.") }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        {% include 'partials/footer.twig' %}
      </div>
{% endblock %}