{% extends "layouts/app.twig" %}

{% block title %}{{ __('Create Contact') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <div class="mb-1">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="{{route('home')}}"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-8" /><rect x="10" y="12" width="4" height="4" /></svg></a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="{{route('listContacts')}}">{{ __('Contacts') }}</a>
                    </li>
                    <li class="breadcrumb-item active">
                      {{ __('Create Contact') }}
                    </li>
                  </ol>
                </div>
                <h2 class="page-title">
                  {{ __('Create Contact') }}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            {% include 'partials/flash.twig' %}
            <form action="/contact/create" method="post">
            {{ csrf.field | raw }}  
            <div class="row row-cards">
              <div class="col-12 col-md-6">
                <div class="card">                
                  <div class="card-header">
                    <h3 class="card-title">{{ __('Contact Details') }} <span class="card-subtitle">{{ __('Used for most extensions') }}</span></h3>
                  </div>
                  <div class="card-body">
                    <div class="mb-3">
                      <label for="intName" class="form-label required">{{ __('Name') }}</label>
                      <input type="text" class="form-control" id="intName" name="intName">
                    </div>
                                    
                    {% if users and not user %}
                    <div class="form-group mb-3">
                      <label for="registrarDropdown" class="form-label required">{{ __('Assign to User') }}</label>
                      <select id="registrarDropdown" name="user" class="form-select" required="required">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    {% endif %}
                                    
                    <div class="mb-3">
                      <label for="email" class="form-label required">{{ __('Email') }}</label>
                      <input type="text" class="form-control" id="email" name="email"  required="required" autocapitalize="none">
                    </div>
                                    
                    <div class="mb-3">
                      <label for="voice" class="form-label required">{{ __('Phone') }}</label>
                      <input type="tel" class="form-control" id="voice" name="voice" required="required">
                    </div>

                    <div class="mb-3">
                      <label for="intOrg" class="form-label">{{ __('Organization') }}</label>
                      <input type="text" class="form-control" id="intOrg" name="org">
                    </div>
                                    
                    <div class="mb-3">
                      <label for="nin" class="form-label">{{ __('Identification Number') }}</label>
                      <input type="text" class="form-control" id="nin" name="nin">
                    </div>

                    <div class="mb-3">
                      <label for="street1" class="form-label required">{{ __('Address') }}</label>
                      <input type="text" class="form-control" id="street1" name="street1">
                    </div>

                    <div class="row">
                      <div class="mb-3 col-md-4">
                        <label for="city" class="form-label required">{{ __('City') }}</label>
                        <input type="text" class="form-control" id="city" name="city">
                      </div>
                      <div class="mb-3 col-md-4">
                        <label for="sp" class="form-label">{{ __('State/Province') }}</label>
                        <input type="text" class="form-control" id="sp" name="sp">
                      </div>
                      <div class="mb-3 col-md-4">
                        <label for="pc" class="form-label">{{ __('Postal Code') }}</label>
                        <input type="text" class="form-control" id="pc" name="pc">
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="cc" class="form-label required">{{ __('Country') }}</label>
                      <select class="form-select" id="cc" name="cc">
                        {% for country in countries %}
                            <option value="{{ country.alpha2|lower }}">{{ country.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex justify-content-between align-items-center">
                      <a href="{{route('listContacts')}}" class="btn btn-link">{{ __('Cancel') }}</a>
                      <button type="submit" class="btn btn-primary">{{ __('Create Contact') }}</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">{{ __('Localized Contact') }} <span class="card-subtitle">{{ __('Optional. Used for some national extensions') }}</span></h3>
                  </div>
                  <div class="card-body">
                    <div class="mb-3">
                      <label for="locName" class="form-label">{{ __('Name') }}</label>
                      <input type="text" class="form-control" id="locName" name="locName">
                    </div>

                    <div class="mb-3">
                      <label for="locOrg" class="form-label">{{ __('Organization') }}</label>
                      <input type="text" class="form-control" id="locOrg" name="locOrg">
                    </div>

                    <div class="mb-3">
                      <label for="locStreet1" class="form-label">{{ __('Address') }}</label>
                      <input type="text" class="form-control" id="locStreet1" name="locStreet1">
                    </div>
                                    
                    <div class="row">
                      <div class="mb-3 col-md-4">
                        <label for="locCity" class="form-label">{{ __('City') }}</label>
                        <input type="text" class="form-control" id="locCity" name="locCity">
                      </div>
                      <div class="mb-3 col-md-4">
                        <label for="locSP" class="form-label">{{ __('State/Province') }}</label>
                        <input type="text" class="form-control" id="locSP" name="locSP">
                      </div>
                      <div class="mb-3 col-md-4">
                        <label for="locPC" class="form-label">{{ __('Postal Code') }}</label>
                        <input type="text" class="form-control" id="locPC" name="locPC">
                      </div>
                    </div>
                                    
                    <div class="mb-3">
                      <label for="locCC" class="form-label">{{ __('Country') }}</label>
                      <select class="form-select" id="locCC" name="locCC">
                        {% for country in countries %}
                            <option value="{{ country.alpha2|lower }}">{{ country.name }}</option>
                        {% endfor %}
                      </select>
                    </div> 
                  </div>
                </div>
              </div>  
            </div>
            </form> 
        </div>
        {% include 'partials/footer.twig' %}
      </div>
{% endblock %}